# PyFWI==0.1.9
# pyopencl
torch
deepwave==0.0.15
scikit-build
matplotlib
numpy
prettytable
tqdm
scipy
# segyio   # If has problem installing this package, you can clone it has `https://github.com/equinor/segyio.git` and install it as `pip install segyio/python`
